@CHARSET "UTF-8";
body{
	position: relative;
}

em{
	font-style: normal;
}

td em{
	color:#dd2727;
}

a,a:hover,a:focus{
	text-decoration: none;
	outline: none;
}


.stockInput,.priceInput{
	width:100px;
}

input[data-sku="SKU_Color"],input[data-sku="SKU_Spec"]{
	width:150px;
}

#SKU_Spec input[type="checkbox"]{
	width: auto;
}

#SKU_Form{	
	clear:both;
}

#SKU_Title{
	display: none;
	color:#999;
}

#SKU_Title ul {
	overflow: hidden;
	padding:0;
	margin:0;
	background: #fafafa;
	border-top:1px #efefef solid;
}

#SKU_Title ul li{
	list-style: none;
	float:left;
	padding:5px 0;
	font-size: 14px;
	text-align: center;
}

#SKU_Title ul li.title_spec{
	width:166px;
	display: none;
}

#SKU_Title ul li.title_style{
	width:222px;
	display: none;
}

#SKU_Title ul li.title_stock,#SKU_Title ul li.title_skuprice,#SKU_Title ul li.title_skusn{
	width:116px;
}


input[type="radio"]{
	margin:0;
}

input ,select,select:focus{
	outline: none;
}

label{
	margin-right:5px;
}

a.goods_img,a.goods_title{
	padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
	color:#333;
}

a.goods_title{
	width:360px;
}

.form-group{
	padding:5px 0;
}

.btn-orange{
    color: #fff;    
    background-color: #ff7700;
}

.btn-orange:focus,.btn-orange:hover{
    background-color: #ff8800;
}

.btn-blue{
    color: #fff;    
    background-color: #00b7ee;
}

.btn-blue:focus,.btn-blue:hover{
    background-color: #00a4ee;
}

.paramForm{
	margin-top:5px;
	padding:5px 0 0 0;
	border-top:solid 1px #eaeaea;
}

#paramForm table,#paramForm table tr ,#paramForm table tr td,#paramForm table tr th{
	border:none;

}

#SKU_Style label,#SKU_Spec label{
	width:120px;
	white-space:nowrap;
	overflow: hidden;
}


#brandPanel{
	position:absolute;
	top:30px;
	left:0;
	z-index:1000;
	width:334px;
	min-height:150px;
	background:#FFF;
	border:solid 2px #00b7ee;
	padding:15px;
	color:#666;
	text-align: left;
	border-radius: 3px;

}

#brandPanel form{
	margin:0;
	padding:0;
}

#brandPanel input[type="text"]{
	width:242px;
}

#logoList{
float:left;
}

#logoUploader .file-item{
margin-bottom: 10px
}

#logoPicker{
	margin-top:5px;
	width:120px;
}

#logoPicker .webuploader-pick{
	width:auto;
	padding:8px 5px;
}

/*.form-horizontal .controls{
	margin-left:0;
	float:right;
}*/ 

#SKU_Style{
	border-bottom:1px #eaeaea dotted;
}

#SKU_Spec{
	margin-top:10px;
}

.ctrlBtnWrap{
	text-align: center;
	padding:10px;	
}

.ctrlBtnWrap input[type="button"]{
	margin:0 12px;
}

.uploaderWrap{
	width:134px;
	height:140px;
	overflow:hidden;

}

.uploaderWrap .webuploader-pick{
	height:100px;
	background: url('images/image.png') no-repeat center center;
	/*background-size:100% 100%;*/
	border:solid 1px #dfdfdf;
}

.webuploader-container{

	clear:both;
}

.picTitle{
	height:34px;
	text-align: center;
	font-size:14px;
	color:#bbb;
	clear:both;
	white-space:nowrap;
}

.uploaderWrap .progress{
	width:50px;
	height:50px;
	margin:0 auto;
	border-radius: 100px;
	background: rgba(0,0,0,0.8);
	color:#fff;
	position: absolute;
	z-index: 1000;
	left:40px;
	top:35px;
	text-align: center;
}

.uploaderWrap .progress span{
		line-height: 50px
}

.uploaderWrap .successIco{
	position: absolute;
	width:40px;
	height:40px;
	bottom: 2px;
	right: 0;
	background: url(images/success.png);
	z-index: 1000;
}

.uploaderWrap .error{
	position: absolute;
	width:100%;
	height:24px;
	bottom: 0;
	left: 1px;
	background: rgba(255,0,0,0.8);
	z-index: 1000;
	text-align: center;
	color:#FFF;
	line-height: 24px;
	cursor: pointer;
}

.uploaderWrap .file-item {
	padding:0;
}

#SKU_Upload{
	overflow: hidden;
}

.controlBar{
	clear:both;
	margin-top:20px;
}

.SKU_Uploader_Wrap{
float:left;
margin:5px 6px 0 0;
}

.orderDetail dl{
	margin:0;
	margin-top: -1px;
	overflow: hidden;
}

.orderContent ul li, .orderDetail dl dd{    
    float:left;
    padding:14px 24px;
    position: relative;
     vertical-align: middle;
     margin:0;
	border-bottom:1px #ddd dotted;
	display: block;
}

.orderDetail dl dd:hover{
	background: #fafafa;
}

td .orderDetail dl dd{
	width:504px;
	height:auto;
	display: block;
	position: relative;
}


.orderContent ul li div, .orderDetail dl dd div{ 
    float:left;
}

.orderContent ul li .listInfo, .orderDetail dl dd .listInfo{
    overflow: hidden;
}

.orderContent ul li p, .orderDetail dl dd p{
    padding:2px;
    margin:0;
    color:#888;
    white-space: nowrap;
    padding-left:10px;
}

.orderContent ul li p em, .orderDetail dl dd p em{
    color:#dd2727;
}

.orderContent ul li .itemImg, .orderDetail dl dd .itemImg{
    position: relative;
    width:80px;
    overflow: hidden;
}

.itemImg em.outOfStock,.orderContent .itemImg em.noLogiSupport,.refundDetail .itemImg em.applyRefund,.orderDetail .itemImg em.applyRefund{
    background: #dd2727;
    color:#FFF;
    position: absolute;
    bottom:0;
    right:0;
    line-height: 18px;
    font-size:12px;
    width:100%;
    opacity: .9;
    text-align: center;
    z-index: 1;
}

.orderDetail .itemImg em.applyRefund{
	padding:0;
}

.orderViewTitle{
    width:100%;
    padding-top:20px;
    position: relative;
    border-bottom: 1px #e0e0e0 solid;

}

.orderViewTitle h4, .orderViewTitle em {
    vertical-align: middle;
    display: inline-block;
}

.orderViewTitle em.orderSerial,#orderGoodsNum{
    font-size: 17px;
    padding-top:2px;
    margin-right: 20px;
}

.orderViewTitle a{
    position: absolute;
    border:1px #ff6600 solid;
    color:#FF6600;
    padding:5px 16px;
    display: block;
    top:18px;
    right:0;
}

.orderViewTitle a:hover{
    border:1px #dd2727 solid;
    color:#dd2727;
}

.orderDetail dt {
    padding: 14px 20px;
    border-bottom: 1px #888 dotted;
    color: #999;
    position: relative;
}

.orderDetail dt em {
    display: inline-block;
    line-height: normal;
    padding: 3px 14px;
    margin-right: 20px;
}
.orderStatu-obligation, .orderStatu-normal{
    color: #FFF;
    font-size: 14px;
    line-height: 56px;
    background: #11a6ec;
    border-radius: 2px;
}

.orderDetail .bottomBar,.refundBottomBar{
	text-align: center;
	padding:14px 0;
	border-top:1px #888 dotted;
	margin-top:-1px;
	position: relative;
	z-index: 1;
	background: #fafafa;
}

.orderDetail p.apply_detail{
	white-space:normal;
}

.refundBottomBar{
	width:100%;
	border-top:1px #eaeaea dotted;
	padding-bottom:0;
	background: none;
	margin-top: 14px;
	clear:both;
	display: block;
}


.refundBottomBar textarea{
	width:488px;
	height:40px;
	border-width: 1px;
}

.refundBottomBar label{
	display: inline-block;
	color:#666;
}

.refundBottomBar select{
	width:110px;
	margin-bottom: 0;
		height:28px;
		padding:2px 5px;
		margin-right:20px;
}

.refundBottomBar input.price{
	width:80px;
}

.refundBottomBar [type="checkbox"]{
	margin:0 5px 1px 0;
}

.afterSaleDetail{
	font-size: 14px;
	color:#666;
}

.afterSaleDetail p em{
	margin-right:20px;
}

.orderDetail .afterSaleDetail p {
	margin-bottom: 8px;
}

.orderDetail .setWayBill{
	text-align: center;
	padding:10px 24px;
}

.orderDetail .setWayBill input{
	margin:0;
	height:12px;
}

.orderDetail dd .refundInfo{
	width:100%;
	padding-top:14px;
	clear:both;
	margin-top: 14px;
	border-top:1px #eaeaea dotted;
}

input.refundPrice,input.price{
	margin:0;
	height:14px;
	width:140px;
	border-width: 1px;
	margin-right:10px;
}

input.returnWayBillNo{
	margin:0;
	height:14px;
	width:190px;
	border-width: 1px;
	margin-right:10px;	
}

/*TabMenu样式*/
.tabMenu{
	display: block;
	padding:10px 20px;
	cursor: pointer;
}

.tabMenu.active{
	border-bottom: 2px solid #ff6600;
	color:#ff6600;
}

.tab-pane.active{
	display: block;
}

.refundInfo em{
	margin-right:14px;
}

i.serial{
	position: relative;
}

.serial input{
	position: absolute;
	z-index: 1;
	top:-3px;
	left:0;
	height:16px;
	width:140px;
	padding:2px;
}

a.orderBtn ,a.disposeRefundBtn{
    color: #FFF;
    font-size: 14px;
    border-radius: 2px;
    padding: 2px 14px 4px 14px;
    display: inline-block;
    margin:0 10px;
    vertical-align: middle;
    opacity: .9;
}

a.disposeRefundBtn{
	position: absolute;
	bottom:-1px;
	right:0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

dt a.edit-right{
	display:block;
	position: absolute;
	z-index: 1;
	top:18px;
	right:18px;
	color:#ff6600;
}


.listInfo {
    width: 350px;
    overflow: hidden;
    float:left;
    margin-left:20px;
}

.listInfo p{
	margin-bottom: 0;
	padding:0 0 4px;
	color:#999;
}

.itemImg{
    position: relative;
    float:left;
}

input[type="checkbox"][name="post[freeInsurance]"]{
	margin:0;
}


.bg-red,a:focus.bg-red{
	background: #dd2727;
}

a:hover.bg-red{
	background: #ee2727;
}

.bg-gray,a:focus.bg-gray{
	background: #aaa;
}

a:hover.bg-gray{
	background: #999;
}

.color-gray,a.color-gray:hover,a.color-gray:focus{
	color:#ccc;
}


.bg-green,a:focus.bg-green{
    background: #6bb74c;
}

a:hover.bg-green{
	background: #6cc74c;
}

.bg-blue,a:focus.bg-blue{
    background: #11a6ec;
}

a:hover.bg-blue{
	background: #1193ec;
}

.sprite {
    background-image: url(../images/loading.png);
    background-repeat: no-repeat;
    display: block;
    margin:0 auto 10px auto;    
}

.sprite-loadingIcon0 {
    width: 28px;
    height: 28px;
    background-position: -5px -5px;
}

.sprite-loadingIcon1 {
    width: 28px;
    height: 28px;
    background-position: -43px -5px;
}

.sprite-loadingIcon2 {
    width: 28px;
    height: 28px;
    background-position: -81px -5px;
}

.sprite-loadingIcon3 {
    width: 28px;
    height: 28px;
    background-position: -5px -43px;
}

.sprite-loadingIcon4 {
    width: 28px;
    height: 28px;
    background-position: -43px -43px;
}

.sprite-loadingIcon5 {
    width: 28px;
    height: 28px;
    background-position: -81px -43px;
}

.sprite-loadingIcon6 {
    width: 28px;
    height: 28px;
    background-position: -5px -81px;
}

.sprite-loadingIcon7 {
    width: 28px;
    height: 28px;
    background-position: -43px -81px;
}

.sprite-loadingIcon8 {
    width: 28px;
    height: 28px;
    background-position: -81px -81px;
}

.sprite-loadingIcon9 {
    width: 28px;
    height: 28px;
    background-position: -119px -5px;
}

.EMallLoading .mask{
    opacity:.85;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    background: #000;
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
}

td em.onSale{
	display: block;
	width:60px;
	height:20px;
	background: url('images/sale.png') no-repeat 0 -22px;
}

td em.offSale{
	display: block;
	width:60px;
	height:20px;
	background: url('images/sale.png') no-repeat;
}

